<script defer src="./js/leaderboard.js"></script>
<!-- Здесь помещаются JS файлы. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="wrapper"> 
<h2 style="font-weight: bolder;">{{userName.name}} {{userName.surname}}</h2>
<div><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="buttonForm">
    Создать игру!
  </button></div>
  </nav> 

{{!-- <img src="/img/IMG_2554.jpg" class="img-fluid" alt="Адаптивные изображения"> --}}
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->

        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Новая Игра</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form name="createNewGameForm" id="createNewGameForm" method="POST" action="/leaderboard">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Игра:</label>
            <input type="text" class="form-control" id="gameName" name="gameName"placeholder="Киккер или Настольный Теннис" data-game="game">
          </div>
         <div class="form-group">
            <label for="recipient-name" class="col-form-label">Победитель:</label>
            <select class="custom-select" name="fioVinner" id="fioVinner" multiple>
              {{#each arrUsersFilter}}
               <option value="{{this._id}}">{{this.name}} {{this.surname}}</option>
              {{/each}}
            </select>
            {{!-- <h2 id="vinnerName">{{user.name}} {{user.surname}}</h2> --}}
          </div>
           <div class="form-group">
            <label for="recipient-name" class="col-form-label">Выбери оппонента:</label>
            <select class="custom-select" name="fioOpponent" id="fioOpponent" multiple>
              {{#each arrUsersFilter}}
               <option value="{{this._id}}">{{this.name}} {{this.surname}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Счёт:</label>
            <input type="text" class="form-control" name="gameRank" id="gameRank" placeholder="Введи счёт игры">
          </div>
           <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" id="gameForm">Сохранить игру!</button>
      </div>
        </form>
        </div>
        
        <!-- Modal footer -->
       
      </div>
    </div>
 </div>


<div class="row" >

<div class="col-md-4" style="margin:0 auto">
 <table class="table table-striped table-dark">
  <thead>
    <tr><h2>Настольный теннис</h2></tr>
    <tr>
      {{!-- <th scope="col">#</th> --}}
       <th scope="col">Имя победителя</th>
      <th scope="col">Оппонент</th>
      <th scope="col">Счёт</th>
    </tr>
  </thead>
  <tbody>
       {{#each gameListForTennis}}
    <tr>
      {{!-- <th scope="row"></th> --}}
    <td>{{this.idUserVinner.name}} {{this.idUserVinner.surname}}</td> 
    <td>{{this.idUser2.name}} {{this.idUser2.surname}}</td>
    <td>{{this.gameRank}}</td>
    </tr>
{{/each}}
  </tbody>
</table>

</div>


<div class="col-md-4">
 <table class="table table-striped table-dark">
  <thead>
    <tr><h2>Киккер</h2></tr>

    <tr>
      {{!-- <th scope="col">#</th> --}}
       <th scope="col">Имя победителя</th>
      <th scope="col">Оппонент</th>
      <th scope="col">Счёт</th>
    </tr>
  </thead>
  <tbody>
       {{#each gameListForTableKikker}}
    <tr>
      {{!-- <th scope="row"></th> --}}
    <td>{{this.idUserVinner.name}} {{this.idUserVinner.surname}}</td> 
    <td>{{this.idUser2.name}} {{this.idUser2.surname}}</td>
    <td>{{this.gameRank}}</td>
    </tr>
{{/each}}
  </tbody>
</table>

</div>
</div>


