<img src="https://cdn.pixabay.com/photo/2018/01/17/07/06/laptop-3087585_1280.jpg" alt="user logo" width="150px" height="100px">
<div class="aboutme">Основная информация
  <a href="profile/edit"><button>Редактировать</button></a>
</div>
<div id="name">Имя: {{name}}</div>
<div id="surname">Фамилия: {{surname}}</div>
<div id="gender">Пол: {{gender}}</div>
<div id="birthday">День рождения: {{birthday}}</div>
<div id="useremail">Email: {{email}}</div>
<div id="userstatus">Статус: {{status}}</div>
<div class="records">Records</div>
<div id="pongrecords">массив игр</div>
<div id="kickrecords">массив игр</div>
<div id="pulluprecords">массив значений</div>
<a href="profile/edit"><button>Редактировать</button></a>
