<div id="editprofileHeader">
  <br>
</div>
<hr>

<div id="editprofile_div" style="margin:auto; width:400px">
  <form id="editForm" action="/profile/edit" method="POST" enctype="multipart/form-data">
    {{!-- multer for img - saves the img but keeps path in bd --}}
    {{#if imgsource}}
    <img id="avatarImg" src="/uploads/{{imgsource}}" style="width: 200px; height: 200px; border-radius: 200px">
    {{else}}
    <img src="/uploads/defult.jpeg" alt="default logo" height="100px" width="100px">
    {{/if}}
    {{!-- message for err --}}
    {{message}}
    <input id="avatar" name="avatar" type="file" placeholder="Изменить фото" />
    <br>
    <br>
    <button class="btn btn-danger" id="deleteBtn" class="removephoto">Удалить фото</button>
    <br>
    <br>
    <div id="errMsg" class="errMsg"></div>

    <div class="form-group">
      <input name="name" type="text" placeholder="Введите имя" value="{{name}}" class="form-control"
        aria-describedby="emailHelp">
      <small class="form-text text-muted">Имя</small>
    </div>

    <div class="form-group">
      <input name="surname" type="text" placeholder="Введите фамилию" value="{{surname}}" class="form-control"
        aria-describedby="emailHelp">
      <small class="form-text text-muted">Фамилия</small>
    </div>

    <div class="form-group"></div>
    <select class="form-control" name="usergender" id="usergender" value="{{gender}}">
      <option value="male">мужской</option>
      <option value="female">женский</option>
    </select>
    <small class="form-text text-muted">Пол</small>
    <br>
    <div class="form-group">
      <input name="birthday" type="date" placeholder="Введите дату рождения" value="{{birthdate}}" class="form-control"
        aria-describedby="emailHelp">
      <small class="form-text text-muted">Дата рождения</small>
    </div>

    <div class="form-group">
      <input name="email" type="email" placeholder="Введите email" value="{{email}}" class="form-control"
        aria-describedby="emailHelp">
      <small class="form-text text-muted">Email</small>
    </div>

    <button class="btn btn-primary" id="editBtn" type="submit">Сохранить</button>
    <br>
    <br>
  </form>
</div>
<script src="/js/profile.js"></script>