<img src="/uploads/{{avatar}}" alt="user logo" width="100px" height="100px">
<div class="aboutme">Основная информация</div>
<div id="name">Имя: {{name}}</div>
<div id="surname">Фамилия: {{surname}}</div>
<div id="gender">Пол: {{gender}}</div>
<div id="birthday">День рождения: {{birthday}}</div>
<div id="useremail">Email: {{email}}</div>
<div id="userstatus">Статус: {{status}}</div>
<a href="/profile/edit"><button>Редактировать</button></a>
